<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content="Roadcrew.js : Page switching in single file websites"/>

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Roadcrew.js {% if page.title %} {{ page.title }} | {% endif %}</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/grobmeier/Roadcrew.js">View on GitHub</a>

        <h1 id="project_title">Roadcrew.js</h1>

        <h2 id="project_tagline">Page switching in single file websites</h2>

        <section id="downloads">
            <a class="zip_download_link" href="https://github.com/grobmeier/Roadcrew.js/zipball/master">Download this
                project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/grobmeier/Roadcrew.js/tarball/master">Download this
                project as a tar.gz file</a>
        </section>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">


        {{ content }}
    </section>

    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        Roadcrew.js is maintained by <a href="https://github.com/grobmeier">grobmeier</a><br>.
        
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.de">
        <img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" height="31" width="88" /></a><br />
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.de">Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution 3.0 License.</a>.
    
    </footer>
</div>


</body>
</html>


